<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item Recipies</title>
  </head>
  <body>
    <div class="m-5 space-y-4">
      <div class="">
        <div class="text-3xl font-bold text-blue-500">Vainilla</div>
      </div>
      <div class="border">
        <table class="w-full text-left text-sm text-gray-500">
          <thead class="bg-gray-50 text-xs uppercase text-gray-700">
            <tr>
              <th scope="col" class="px-4 py-3">Código</th>
              <th scope="col" class="px-4 py-3">Produto</th>
              <th scope="col" class="px-4 py-3">Qtd. Preparada</th>
              <th scope="col" class="px-4 py-3">Qtd. Não Preparada</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b odd:bg-white even:bg-gray-50">
              <td class="px-4 py-2">#P001</td>
              <td class="px-4 py-2">Cebola</td>
              <td class="px-4 py-2">
                <input class="border p-[2px]" />
              </td>
              <td class="px-4 py-2">
                <input class="border p-[2px]" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
